<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'PrestaShop API Configuration'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.apiUrl) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.apiKey) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.shopId) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.language) }}
            </div>
        </div>
    </div>
</div>
